@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}

.main{
    width: 100%;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(backhome.jpg); */
    background: url(backhome1.jpg);
    /* filter: brightness(50%); */
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

/* .icon{
    width: 200px;
    float: left;
    height: 70px;
} */

.logo{
    color: #fff;
    text-transform:uppercase;
    cursor: pointer;
    padding-left: 0px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 30px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 100px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(33, 63, 199);

}

/* .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    mix-blend-mode: overlay;
} */






/* .search{
    width: 330px;
    float: left;
    margin-left: 270px;
} */

/* .srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(33, 63, 199);
    margin-top: 13px;
    color: rgb(13, 109, 206);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
} */



/* .btn{
    width: 100px;
    height: 40px;
    background: rgb(33, 63, 199);
    border: 2px solid rgb(33, 63, 199);
    margin-top: 13px;
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
} */

/* .srch:focus{
    outline: none;
} */

.content{
    padding-left: 30px;
    margin-top: 100px ;
    position: relative;
    z-index: 10;
}

/* .content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
} */

.content h1{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;

}
.content h2{
    padding-left: 10px;
      color: #fff;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    
    
}

.content a{

display: inline-block;
font-size: 1em;
background: #fff;
padding: 10px 30px;
text-decoration: none;
color: #111;
margin-top: 25px;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.2s;
}

.content a:hover{
    
    letter-spacing: 6px;
}


/* .content .cn{
    width: 160px;
    height: 40px;
    background: rgb(33, 63, 199);
    border: none;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
} */

/* .content .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
} */

/* .cn:hover{
    background-color: rgb(13, 109, 206);
} */

.content span{
    color: #ffffff    ;
    font-size: 65px
}

.textbox{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 1px;
}
/* h2{
    /* font-family:'Times New Roman', Times, serif; */
    /* margin-top: 20px;
    color: #ffffff;
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 1px; */
/* }  */
#about{
    height: 500px;
    background:url(aboutback.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 200vh;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    width: 100%;
}


#services{
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background-color: #fff; 
}


.productholder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
}


.card{
    cursor: pointer;
    display: flex;
    background: rgb(64, 133, 183);
    filter: brightness(100%);
    flex-direction: column;
    /* min-width: 200px;
    max-width: 300px; */
    text-align: center;
    /* min-height: 200px; */
    height: 55vh;
    width: 20%;
    border-radius: 1rem;
    margin: 5rem;
    transition: 0.3s;
}


.card .card-img-top{
      margin:0;
      padding: 0;
      height: 40vh;
      width: 100%;

}

.card:hover{
    transform: scale(1.1);
}
.card-img-top{
    margin-top: 100px;
    margin-left: 60px;
    height: 150px;
    width: 150px;
}

.card-body{
    margin-top: 10px;
    margin-left: 40px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15px ;
}

.card-body{
    margin-top: 10%;
}
.linktxt, .card-text {
    
    margin: 0.7rem;
    padding-right: 60px;
    color:#FFF;
}

.card-text{
    font-weight: 600;
    opacity: 0.7;
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(78, 89, 207);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: rgb(64, 133, 183);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }









/* .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    /* background-color: rgb(33, 63, 199); */
    /* border-radius: 10px;
    margin: 2px;
    padding: 8px;
} */

/* .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(33, 63, 199);
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(13, 109, 206);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}  */

/* .btnn{
    width: 240px;
    height: 40px;
    background: rgb(33, 63, 199);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: rgb(13, 109, 206);
    color: rgb(33, 63, 199);

}
.btnn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(33, 63, 199);
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
} */
/* .icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: rgb(33, 63, 199);
} */